<!DOCTYPE html>
<html>

<head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="app">
        <h1>#title#</h1>
        <div>#content#</div>
        <form action="comments" method="Post">
            <input type="hidden" name="postId">
            <textarea name="content" placeholder="content" required></textarea>
            <button type="submit"> Add comment</button>
        </form>
    </div>
</body>

</html>